*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-color: #D08E73;
    color: #f0e6dc;
}
#principio {
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    height: 20vh;
    width: 100vw;
}
#logo1 {
    height: 15vh;
    width: auto;
}
#tituloImp {
    font-size:larger;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-around;
    background-color: #D08E73;
    padding: #D08E73;
}
#botonNav {
    padding-left: 40vw;
    padding-right: 40vw;
}
.nav-link {
    color: #f0e6dc
}
nav div {
    background-color: #D08E73;
}
nav a {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: #f0e6dc;
    border: 2px none #f0e6dc;
    border-radius: 10px;
    padding: 5px;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus{
    box-shadow: none;
}
#laNavegacion {
    padding: 0 0 0 0;
    color: #f0e6dc
}
main{
background-color: #f0e6dc;
}
main img {
    width: 500px;
    height: auto;
    position: center;

}
#articulo {
    padding-left:  20px;
}
div.conteiner {
    margin: 0;
    padding: 0;
}
div.row {
    margin: 0;
    padding: 0;
}
footer {
    display: flex;
    background-color: #D08E73;
    color: #f0e6dc;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    height: 20vh;
    width: 100vw;
}

#logo2 {
    height: 15vh;
    width: auto;
}
