body {
    background-color: $colorPrincipal;
}
#indexMain {
    article{
        aside {
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            gap: 2px !important;
            div {
                border: solid  2px $colorCuatro;
                border-radius: 10px;
                margin: 5px;
                background-color: $colorTres;
        
               
            }
            img{
              
                height: 130px;
                }
            }
        }
    }
  button {
    margin: 20px !important;
    background-image: linear-gradient($colorSecundario,$colorCuatro);
    border: none;
    border-radius: 100px;
    color: $colorPrincipal;
    padding: 5px 15px 5px 15px !important;
  }
@media (min-width: 475px) {
    #indexMain article aside div {
        width: 30%;
    }
    
   
}
article div div img {
    width: inherit;
}
@media (min-width: 992px) {
    article div div img {
        width: 20vw;
    }
}
@media (min-width: 1389px) {
    #fotoArticulo{
        height: 578px;
        width: auto;
    }
   
} 
