#contactoMain {

 
    #info {
        text-align: center;
        padding-top: 50px;
        a {
            color: $colorSecundario
        }
    }
    img {
        height: 175px;
        padding: 0px 50px 0pc 50px
    }
   form {
    padding-right: 10px;
    padding-left: 10px;
        button {
            background-color: $colorSecundario;
            color: $colorPrincipal;
            border-radius: 10px;
            border: solid 1px $colorPrincipal;
            margin-top: 7px;
        }
   }
   h2 {
    color: $colorCuatro
   }
   h3 {
    color: $colorCuatro
   }
   h4 {
    color: $colorCuatro
   }
}