#ocasionesMain {
    padding: 0 !important;
    #tituloOcasiones {
        height: 20vh;
        background-image: linear-gradient($colorSecundario, $colorTres );
        color: $colorPrincipal; 
        text-align: center;
        h1 {
            padding-top: 20px;
        }
    
    }
    .card {
        background-color: $colorPrincipal;
    }
    button {
        margin: 20px !important;
        background-image: linear-gradient($colorSecundario,$colorCuatro);
        border: none;
        border-radius: 100px;
        color: $colorPrincipal;
        padding: 5px 15px 5px 15px !important;
       }
       div {
        img {
            width: inherit;
        }
       }
      
}
@media (min-width: 768px) {
    #ocasionesMain div img {
        width: 30vw;
    }
}
@media (min-width: 956px) {
    #ocasionesMain div img {
        width: 319px;
    }
}